.add_stopwords
  .notice
    Please select update options.

  = radio_button_tag "add_stopwords", "upload"
  = label_tag :upload, "Upload file"
  = radio_button_tag "add_stopwords", "enter"
  = label_tag :enter, "Enter stopwords"

  .fieldset
